# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
* List popular Data science languages
* List populat Data science libraries
* Tabulate popular Data science tools
* Demonstrate Basic arithmetic in jupyter notebooks

Some of the more popular languages that Data scientists use are:

1. R
2. Python
3. scala
4. Matlab

Some of the more popular libraries that Data scientists use are:

1. TensorFlow
2. Pandas
3. NumPy
4. sciPy


|Data Science tools|
|----|
|PyCharm|
|Google Colaboratory|
|Visual Studio Code|

### Below are a few examples of arithmetic expressions in Python

In [3]:
# This is an example of a multiplying then adding integers
(3*5)+5

20

In [5]:
# This is an example of a converting minutes to hours
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
Tim G